  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Top 5 Blog </a>
    <div class="collapse navbar-collapse" id="blogNav">
        <ul class="list-unstyled list-inline">
            <li class="nav-item active list-inline-item">
                <a class="btn btn-outline-light" role="button" href="{{ url_for('home') }}">HOME</a>
            </li>
            <li class="nav-item list-inline-item">
                <a class="btn btn-outline-light" role="button" href="{{ url_for('direct') }}">DIRECTORS</a>
            </li>
        </ul>
    </div>
</nav>